body{
    font-family: 'Montserrat', sans-serif;
}


/* ----------------------------------------------------------------------- */
/* Cards for technical teams */

.card-container {
    display: grid;
    perspective: 700px;
}
.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    /* object-fit: cover; */
}

hr{
   border-top: 2px solid #00003f; 
}
.rounded{
border-radius: 3rem!important;
}
.rounded-cards{
    border-radius: 1rem!important;
    }

/* ------------------------------------------------------------ */

@keyframes example {
    from {opacity: 0;}
    to {opacity:100;}
  }
  
  /* The element to apply the animation to */
  .animation {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    animation-name: example;
    animation-duration: 4s;
    
  }
  .size{
   
    
    font-size:6vw;
    font-weight: bold;
    text-align: center;
  }
  /* .size:hover{
      animation-name: enlarge;
      animation-duration: 2s;  
  }

  @keyframes enlarge {
    from {font-size: 6vw;}
    to {font-size: 8vw;}
  } */

  .carousel-img{
    width:100%;
    height:100vh;
    object-fit:cover;
  }