.hh1 {
    color: #0B2D5C;
    line-height: 80px;
    font-family: 'Bebas Neue';
    font-size: 60px;
    text-align: left;
}
.hh2 {
    line-height: 100px;
    color: #0B2D5C;
    font-family: 'Bebas Neue';
    font-size: 100px;
    text-align: left;
}
.size {
    font-size: 10px;
}
.carousel-caption {
    padding-bottom: 100px;
    margin-left: -100px;
    text-align: left;
    text-shadow: 2px 2px #ffffff;

}

.carousel-img {
    border-radius: 0;
}
.carousel-margins {
    margin-top: -58px;
}

.inside-image {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-left:882px;
    height: 768.82px;
}

