.footer {
    background-color: #ffffff;;
    display: flex;
    justify-content: center;
    color: #0B2D5C;


    font-weight: 200;
    height: auto;
    padding: 1%;
    font-family: 'Bebas Neue';
}
.group4 {
    padding: 20px;
}

.group3 {
    text-align: centre;
    position: relative;
    font-family: 'Montserrat';
    padding-right: 350px;
    margin:-40px;


}

.group2 {
    padding: 20px;
}

.group1{
    padding-left: 90px;

    text-align: center;
    font-size: 30px;
    margin-top: 0px;


}
.centre-stuff {
    text-align: center;
    display:flex;
    justify-content: center;
}
