.footer {
    background-color: #03002e;;
    display: flex;
    justify-content: center;
    color: aqua;
    text-shadow: 0px 0px 3px #E92EFB, 0px 0px 9px #440BD4, 0px 0px 15px #04005E;
    font-weight: 200;
    height: auto;
    padding: 1%;
}
.group4 {
    padding: 20px;
}

.group3 {
    padding: 20px
}

.group2 {
    padding: 20px;
}

.group1{
    padding: 20px;
}