.events {
    padding: 100px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    background-color:#232222;
   /* background-color: aqua;*/
 }
 .carousel-indicators .active {
    /*background-color: black;*/
    background-color:#000; 
 }
 h3
 {
     color:#0B2D5C;
     font-family: 'Bebas Neue';
     font-size: 60px;

     padding-left: 30px;
 }
 p{
     padding-top: 35px;
     font-family: 'Montserrat';
     padding-left: 30px;
     color: #0b2d5c;
 }
 span{
     padding-left: 30px;
 }
