.bg-blue {
    background-color:#0B2D5C;
    opacity: 100;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 300;
}

.navbar-light .navbar-nav > .active1 > a {
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
  }

.logo {
    height: 30px;
    width: 30px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 16;
  box-shadow: 1px 1px 16px rgb(0, 0, 0);
}
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}