.bg-blue {
    background-color:#0b2d5c;
    opacity: 100;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-light .navbar-nav > .active1 > a {
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
  }

.logo {
    height: 30px;
    width: 30px;
}

.navbar {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}